button {
    padding: 1%;
    text-align: center;
}



.landing-page-container {
    line-height: 2.0;
    margin: 50px;
}

.landing-page-li {
    list-style-type: none;
    text-align: center;
}

@media screen and (min-width: 540px) {
    .landing-page-container {
        margin: 100px 150px;
    }
}