button {
    padding: 1%;
}

.landing-page-container {
    line-height: 2.0;
    margin: 50px;
}

@media screen and (min-width: 540px) {
    .landing-page-container {
        margin: 100px 150px;
    }
}