h3 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Baskervville', serif;
}

p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}


/* Classes */

.buttons {
    margin-top: 50px;
    font-family: 'Baskervville', serif;
}

.recipe-page-container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Baskervville', serif;
    font-size: larger;
}

.recipe-page-img {
    margin-top: 20px;
    width: 30%;
    height: 30%;
    background-color: lightgray;
}