/* Classes */

.buttons {
    margin-top: 40px;
    text-align: center;
}

.password-info {
    margin-top: 0;
}

.sign-up-error {
    text-align: center;
    color: #D16D2C;
}

.sign-up-form {
    margin: 0 auto;
    padding: 15px 40px;
    max-width: 80%;
    text-align: left;
}


/* @media */

@media screen and (min-width: 540px) {
    .sign-up-form {
        padding: 0 0 40px;
        max-width: 450px;
    }
}