/* Classes */

.edit-recipe-form {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 80%;
    text-align: left;
}

.buttons {
    margin-top: 40px;
    text-align: center;
    font-family: 'Baskervville', serif;
}


/* @media */

@media screen and (min-width: 540px) {
    .edit-recipe-form {
        padding: 0 0 40px;
        max-width: 450px;
    }
}