/* Classes */

.login-error {
    text-align: center;
    color: #D16D2C;
}

.login-form {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 80%;
    text-align: left;
}

.sign-up-button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #5F7466;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    font-family: 'Baskervville', serif;
    border-radius: 8px;
    border: none;
}

.sign-up-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* @media */

@media screen and (min-width: 540px) {
    .login-form {
        padding: 0 0 40px;
        max-width: 450px;
    }

}
