input {
    margin-bottom: 10px;
}

input, label {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 5px;
}


/* Classes */

.buttons {
    margin-top: 40px;
    text-align: center;
}

.login-form {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 80%;
    text-align: left;
}


/* @media */

@media screen and (min-width: 540px) {
    .login-form {
        padding: 0 0 40px;
        max-width: 450px;
    }
}