h1 {
    margin-left: 50px;
    margin-top: 25px;
    font-family: 'Satisfy', cursive;
    color: #5F7466;
}


/* Classes */

.header-container {
    display: flex;
    flex-direction: column;
}


/* @media */

@media screen and (min-width: 711px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}