h1 {
    margin-left: 50px;
    margin-top: 25px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 711px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}