nav {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Baskervville', serif;
    font-size: medium;
}


/* @media */

@media screen and (min-width: 711px) {
    nav {
        margin-right: 50px;
        margin-top: 40px;
    }
}