/* Classes */

.add-recipe-form {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 80%;
    text-align: left;
}


/* @media */

@media screen and (min-width: 540px) {
    .add-recipe-form {
        padding: 0 0 40px;
        max-width: 450px;
    }
}