h3 {
    padding-top: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

h3 {
    font-family: 'Baskervville', serif;
    font-size: 25px;
}

input, label, textarea {
    display: block;
    width: 100%;
    font-family: 'Baskervville', serif;
    font-size: large;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Classes */

.add-recipe-form {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 80%;
    text-align: left;
}

.buttons {
    margin-top: 40px;
    text-align: center;
    font-family: 'Baskervville', serif;
}


/* @media */

@media screen and (min-width: 540px) {
    .add-recipe-form {
        padding: 0 0 40px;
        max-width: 450px;
    }
}