* {
  box-sizing: border-box;
  text-decoration: none;
  color: #4a4a48;
}

button:focus {
  outline: #D16D2C solid;
}

h3 {
  padding-top: 20px;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

h3 {
  font-family: 'Baskervville', serif;
  font-size: 25px;
}

input, label, textarea {
  display: block;
  width: 100%;
  font-family: 'Baskervville', serif;
  font-size: large;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

/*Classes*/

.buttons {
  padding-top: 5px;
  padding-bottom: 40px;
  text-align: center;
}

.cancel-button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #5F7466;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  font-family: 'Baskervville', serif;
  border-radius: 8px;
  border: none;
}

.cancel-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancel-button:focus {
  outline: #D16D2C solid;
}

.cancel-button, .save-button {
  display: block,
}

.required-field {
  margin-left: 0;
  font-family: 'Baskervville', serif;
}

.save-button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #5F7466;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  font-family: 'Baskervville', serif;
  border-radius: 8px;
  border: none;
}

.save-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.save-button:focus {
  outline: #D16D2C solid;
}




